@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script src="~/js/rat.color.js"></script>
    <script type="text/javascript">
        var getColor = rat.color();
        console.log(0 + ':' + getColor(0));
        console.log(25 + ':' + getColor(25));
        console.log(75 + ':' + getColor(75));
        console.log(125 + ':' + getColor(125));
        console.log(175 + ':' + getColor(175));
        console.log(250 + ':' + getColor(250));
        console.log(400 + ':' + getColor(400));
        console.log(500 + ':' + getColor(500));
        getColor = getColor.valueMode('more');
        console.log(0 + ':' + getColor(0));
        console.log(25 + ':' + getColor(25));
        console.log(75 + ':' + getColor(75));
        console.log(125 + ':' + getColor(125));
        console.log(175 + ':' + getColor(175));
        console.log(250 + ':' + getColor(250));
        console.log(400 + ':' + getColor(400));
        console.log(500 + ':' + getColor(500));
        // 模拟数据
        for (var i = 0; i < 50; i++) {
            var t = Math.round(Math.random() * 200);
            console.log(t + ':' + getColor(t));
        }
    </script>
}
