################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Rat/.vs/Rat
/Rat/Rat.Web/bin/Debug/netcoreapp3.1
/Rat/Rat.Web/obj
/Rat/Rat.Console/bin/Debug/netcoreapp3.1
/Rat/Rat.Core/bin/Debug/netcoreapp3.1
